body {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    gap: 20px 20px;
    background-color: grey;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#gameboard-container {
    height: 640px;
    width: 1024px;
    display: flex;
    background-color: blue;
    position: relative;
}

#overlay, #gameBoard {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#overlay {
    z-index: 10;
    border: 1px solid red;
    
}

#gameBoard {
    border: 1px solid red; 
}

.gameBoard div {
    border: 1px solid black;
}

.topLine {
    display: flex;
    /* background-color: cyan; */
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    gap: 0;
}

.elapsedTime, .points, .middle {
    padding: 4px 20px;
}

.elapsedTime, .points {
    flex: 0 0 auto;
}

.elapsedTime {
    background-color: magenta;

}

.points {
    background-color: yellow;
    
}

.middle {
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    gap: 12px;
    flex: 1;
}

button {
    padding: 12px;
}

#protagonist {
    background-color: lightgreen;
    position:absolute;
    height: 84px;
    width: 156px;
    left:200px;
    bottom: 0px;
}

.bullet {
    height: 12px;
    width: 12px;
    background-color: red;
    position: absolute;
    border-radius: 4px;
}